.alert {
    // padding: 10px 0;
    text-align: left;
    border: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #3dc662;

    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--default-font);
    font-weight: bold;

    svg {
        margin-right: 10px;
    }

    // width: 40%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
