@font-face {
  font-family: "Gramatika";
  src: local("Gramatika"),
    url("../assets/fonts/Gramatika-Light.ttf") format("truetype");
  font-weight: 100;
}

/* Regular */
@font-face {
  font-family: "Gramatika";
  src: local("Gramatika"),
    url("../assets/fonts/Gramatika-Regular.ttf") format("truetype");
  font-weight: 300;
}

/* Medium */
@font-face {
  font-family: "Gramatika";
  src: local("Gramatika"),
    url("../assets/fonts/Gramatika-Medium.ttf") format("truetype");
  font-weight: 500;
}
/* Bold */
@font-face {
  font-family: "Gramatika";
  src: local("Gramatika"),
    url("../assets/fonts/Gramatika-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Black */
@font-face {
  font-family: "Gramatika";
  src: local("Gramatika"),
    url("../assets/fonts/Gramatika-Black.ttf") format("truetype");
  font-weight: 900;
}
