@use "../styles/utils/mixins" as *;

.portfolioTemplate {
    padding: 100px 0px;
}

h3.mainHeading {
    font-weight: var(--fw-bold);
    font-family: var(--default-font);
    font-size: clamp(32px, 6vw, 4em);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 1;
}
.paragraphTags {
    font-weight: var(--fw-light);
    font-family: var(--default-font);
    font-size: var(--portfolio-template-default-size);
    &:after {
        content: ",";
        margin-right: 5px;
    }

    &:last-child:after {
        content: "";
        margin-right: 0px;
    }
}
