@use "../../../styles/utils/mixins" as *;

// Layout Specific
.gridContent {
    grid-area: 1/1;
    // transform: var(--breakpoint-transform);
    // transition: var(--breakpoint-transition);
    h1 {
        font-weight: var(--fw-bold);
        font-family: var(--default-font);
        font-size: clamp(30px, 4.5vw, 4em);
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        line-height: 1;
        color: #fff;
    }

    p {
        font-weight: var(--fw-light);
        font-family: var(--default-font);
        font-size: clamp(18px, 1vw, 0.2em);
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        line-height: 1;
        color: #fff;
    }
}

// Error Handling Specific
p.errorMessage {
    padding: 10px 0;
    font-size: var(--error-message);
    color: var(--error-color);
    font-weight: var(--fw-regular);
}

// Form Specific
.gridForm {
    margin: 2em 0;
    padding: 0;
    input {
        appearance: none;
        border-radius: 0;
        font-family: var(--default-font);
        font-weight: var(--fw-light);
        color: #fff;
    }

    .input {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 1.5rem;
        color: #fff;
        & + .input {
            margin-top: 1.5rem;
        }
    }

    .inputLabel {
        color: #fff;
        position: absolute;
        top: 1.5rem;
        transition: 0.25s ease;
        font-family: var(--default-font);
    }

    .inputField {
        border: 0;
        z-index: 1;
        background-color: transparent;
        border-bottom: 2px solid #eee;
        font: inherit;
        font-size: 1.125rem;
        padding: 0.25rem 0;
        resize: none;

        &:valid,
        &:focus {
            color: #fff;
            outline: 0;
            font-family: var(--default-font);

            border-bottom-color: #6658d3;
            & + .inputLabel {
                color: #6658d3;
                transform: translateY(-1.5rem);
            }
        }
    }

    .errorField {
        // border-bottom: 2px solid var(--error-color);
    }
    .errorLabel {
        color: var(--error-color);
    }
}

@include respond(desktop) {
    .gridForm {
        padding: 2rem 0;
    }
}
