// @use "../../styles/utils/variables" as var;
@use "../../styles/utils/mixins" as *;

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 60px;
    margin: 20px 0;
    display: flex;
    transition: var(--transition-all);

    &.active {
        background-color: rgba(10, 25, 47, 1);
        // box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
        // backdrop-filter: blur(10px);
        transition: var(--transition-all);
        backdrop-filter: blur(10px);
        display: flex;
        margin: 0;
    }
    .alignment {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
            display: flex;
            align-items: center;
        }
    }

    .menu {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        // align-items: flex-end;
        .link {
            font-family: var(--default-font), serif;
            text-decoration: none;
            text-align: center;
            padding: 10px;
            line-height: 1.6;
            color: #fff;
            margin: 0 20px;
        }
    }
}

// Navbar Desktop
@include respond(desktop) {
    .navbar {
        .alignment {
        }

        .menu {
            .link {
            }
        }
    }
}
