// @use "../../styles/utils/variables" as var;
@use "../../styles/utils/mixins" as *;

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 60px;
    margin: 10px 0;
    display: flex;

    .alignment {
        display: flex;
        /* justify-content: space-between; */
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .bar {
        display: block;
        color: white;
    }

    .navbarPosition {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &.active {
        background-color: rgba(10, 25, 47, 1);
        // box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
        backdrop-filter: blur(10px);
        transition: var(--transition-all);
        backdrop-filter: blur(10px);
        display: flex;
        margin: 0;
    }
    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
            display: flex;
            align-items: center;
        }
    }

    .menu {
        flex: 1;
        display: none;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        // align-items: flex-end;
        .link {
            font-family: var(--default-font), serif;
            text-decoration: none;
            text-align: center;
            padding: 10px;
            line-height: 1.6;
            color: #fff;
            font-size: var(--navbar-fs);
            margin: 0 20px;
        }
    }
}

.portfolio {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 60px;
    margin: 10px 0;
    display: flex;
    transition: var(--transition-all);
    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
            display: flex;
            align-items: center;
            svg {
                path {
                    fill: black;
                }
            }
        }
    }

    &.active {
        background-color: rgba(251, 251, 251, 1);
        backdrop-filter: blur(10px);
        transition: var(--transition-all);
        backdrop-filter: blur(10px);
        display: flex;
        margin: 0;
    }
}

// Navbar Desktop
@include respond(tablets) {
    .navbar {
        .bar {
            display: none;
        }
        .navbarPosition {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // flex-flow: column wrap;
            width: 100%;
        }
        .alignment {
            display: flex;
            /* justify-content: space-between; */
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
        }
        .menu {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            align-items: center;
            // align-items: flex-end;
            .link {
                font-family: var(--default-font), serif;
                text-decoration: none;
                text-align: center;
                padding: 10px;
                line-height: 1.6;
                color: #fff;
                font-size: var(--navbar-fs);
                margin: 0 20px;
            }
        }
    }
}
