@use "../../styles/utils/mixins" as *;

// Parent Div

.frameGroup {
    position: relative;
    height: 100vh;
    width: auto;
    overflow: hidden;
    z-index: 19;
    display: block;
    background-image: url("../../images/star-pattern.png");
    background-position: center center;
    background-size: cover;
    // height: 100%;
    // width: 100%;

    // BG Assets
    .borealis {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        z-index: 18;
    }

    .starPattern {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -20;
    }

    .moon {
        position: relative;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        z-index: 17;

        svg {
            position: absolute;
            top: -280px;
            right: -300px;
        }
    }

    .astronaut {
        position: absolute;
        top: 60%;
        right: 30%;
    }

    // Layers
    .planetLayer1 {
        position: absolute;
        top: 20%;
        right: 40%;
    }
    .planetLayer2 {
        position: absolute;
        top: 40%;
        right: 25%;
    }
    .planetLayer3 {
        position: absolute;
        bottom: 10%;
        right: 40%;
    }
    .planetLayer4 {
        position: absolute;
        bottom: 40%;
        right: 15%;
    }
    .planetLayer5 {
        position: absolute;
        bottom: -380px;
        right: 40px;
    }
}
