// @use "../../styles/utils/mixins" as *;
@use "../../../styles/utils/mixins" as *;

.portfolioCard {
    display: grid;
    grid-template-columns: 1fr fit-content(60%);
    cursor: pointer;
    margin: 3em 0;
    visibility: visible;
    opacity: 1;
    transform: var(--breakpoint-transform);
    transition: var(--breakpoint-transition);

    // Every 2nd Element
    &:nth-child(2n) {
        .content {
            grid-area: -1/-7/-1/15;
            display: flex;
        }

        .imageWrapper {
            grid-area: 2/11/1/1;
            z-index: 1;
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    }

    .content {
        position: relative;
        grid-area: 1/2/2/1;
        display: flex;
        align-items: center;
        padding: 0 30px;
    }

    .imageWrapper {
        height: 100%;
        grid-area: 1/1/1/-1;
        position: relative;
        z-index: 1;

        img {
            height: 400px;
            object-fit: cover;
            width: auto;

            box-shadow: var(--project-card-box-shadow);
            -webkit-box-shadow: var(--project-card-box-shadow);
            -moz-box-shadow: var(--project-card-box-shadow);

            // filter: var(--filter-saturate);
            // filter: var(--filter-gray);
            // -webkit-filter: grayscale(100%);
            // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
            // filter: alpha(opacity=40);
            // -moz-opacity: 0.6;
            // -khtml-opacity: 0.6;
            // opacity: 0.6;
            // transition: var(--transition-all);

            // filter: grayscale(100%) contrast(1) brightness(50%);
            // mix-blend-mode: multiply;

            // Zoom In
            // -webkit-transform: scale(1.1);
            // transform: scale(1.1);
            // -webkit-transition: 0.3s ease-in-out;
            // transition: 0.3s ease-in-out;

            // Filter
            // filter: brightness(70%);
            // -webkit-filter: brightness(70%);
            // -moz-filter: brightness(70%);
            // transition: var(--transition-all);
            &:hover {
                // filter: brightness(80%);
                // -webkit-filter: brightness(80%);

                -webkit-transform: scale(1);
                transform: scale(1);

                // hover
                filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
                -webkit-filter: grayscale(0%);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: alpha(opacity=100);
                -moz-opacity: 1;
                -khtml-opacity: 1;
                opacity: 1;
            }
        }
    }

    .details {
        position: relative;
        z-index: 2;
        .categories {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // justify-content: space-between;
        }
        p {
            font-size: 20px;
            font-weight: var(--fw-light);
            font-family: var(--default-font);
            font-size: var(--portfolio-card-details-p);
            color: #fff;

            margin-right: 10px;
        }

        h4 {
            font-weight: var(--fw-bold);
            font-family: var(--default-font);
            font-size: var(--portfolio-card-details-h4);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            margin: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 1;
            color: #fff;
        }

        .projectLink {
            display: none;
        }
    }

    .socialLinks {
        display: flex;
        padding: 10px 0;
        // flex-wrap: nowrap;

        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            // padding: 0;
            width: 40px;
            margin: 0 auto;
            height: 40px;

            // social Links hover
            a {
                transition: var(--transition-all);
                width: 40px;
                margin: 0 auto;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    transform: var(--translateY);
                }

                // Github Link Specific

                svg {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    path,
                    rect {
                        // fill: none;
                        fill: var(--social-link-mobile-color);
                    }
                }

                .githubIcon {
                    @extend svg;
                    path,
                    rect {
                        // fill: none !important;
                        stroke-width: 0;
                    }
                }
            }
        }
    }
}

// Desktop Laptop // Card For Every 2nd and 4th Element // EVEN
@include respond(laptop) {
    // Odd Every 3nth Element

    .portfolioCard {
        // Odd Every 3rd Element
        &:nth-child(2n) {
            // Grid Row
            .imageWrapper,
            .details {
                grid-row: 1/2;
            }
            .socialLinks {
                display: grid;
                grid-template-columns: 50px 25%;
                .link {
                    grid-column: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            // Content
            .content {
                // grid-column: 7 / -1;
                grid-area: -1/-6/-1/15;
                justify-content: flex-end;
            }

            .imageWrapper {
                // grid-column: 1 / 8;
                grid-area: 2/12/1/2;
                z-index: 1;
                position: relative;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            .details {
                grid-column: 1/3;
            }
        }
    }
}

// laptop Laptop // Card for Every 1st and 3rd Element // ODD
@include respond(laptop) {
    // Odd Every 2nth Element
    .portfolioCard {
        // margin: 8em 0;
        // Every 1st and 3rd Odd
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        width: 100%;
        background-color: transparent;

        // Social Links
        .socialLinks {
            display: grid;
            grid-template-columns: repeat(4, 5fr);
            .link {
                grid-column: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                // social Links hover
                a {
                    transition: var(--transition-all);
                    &:hover {
                        transform: var(--translateY);
                    }
                    svg {
                        path,
                        rect {
                            fill: var(--social-link-desktop-color);
                        }
                    }
                }
            }
        }

        // Grid Image and Content
        .imageWrapper,
        .details {
            grid-row: 1/2;
        }

        .content {
            grid-area: 1/2/-1/6;
            padding: 0;
        }

        .imageWrapper {
            grid-area: 1/15/1/4;
            width: 100%;
            z-index: 1;
        }

        .details {
            position: relative;
            grid-column: 1/3;
            margin: 20px 0;

            p {
                color: #000;
            }

            h4 {
                color: #000;
            }
            .projectLink {
                outline: none;
                font-family: var(--default-font);
                font-weight: var(--fw-bold);
                font-size: clamp(16px, 2vw, 1.4em);
                // font-size: clamp(0.8em, 2vw, 1.4em);
                text-transform: uppercase;
                padding: 0.8em 0;
                line-height: initial;
                letter-spacing: 4px;
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                color: #000;
                text-decoration: none;
                &::after {
                    content: "";
                    display: block;
                    width: 60px;
                    height: 4px;
                    background-color: var(--primary-color);
                    transition: var(--transition-all);
                    position: relative;
                    top: 10px;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
