:root {
    --loader-background-color: #0d243c;
}

.fullPageLoader {
    width: 100%;
    height: 100vh;
    background-color: var(--loader-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    position: absolute;
    padding: 30px;
    width: 100%;
}
